$carousel-controls-bg: rgba(0, 0, 0, 0);

.v-window__prev,
.v-window__next {
  background: $carousel-controls-bg;
}
.v-application--wrap {
  min-height: 50vh;
}
.v-application {
  font-family: "Raleway";
}
.nav-button .v-btn__content {
  font-size: 1rem;
}
